{% extends "layout.html" %}
{% load static %}
{% block body %}
    <div class="contCompra col-12">
        <form class="col-6" id="form">
            {% csrf_token %}
            {{ form }}
            <button type="button" class="mt-2 btn btn-success" onclick="nuevaCompra()" disabled id="completar">Completar Compra</button>
        </form>
    </div>
    <div class="contCompraS col-12">
        <div class="seguro">
            <button type="button" id="controlClick" onclick="activarBoton()">¿Comprobé los datos?</button>
        </div>
    </div>
{% endblock %}